# Ignore .NET files
bin/
obj/
.vscode/

# Ignore user-specific files
*.user
*.userosscache
*.suo

# Ignore build results
*.exe
*.dll
*.pdb
*.cache
*.log
*.msi
*.out
*.plist

# Ignore saved json files
HighscoreListener/SavedData/*json